<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/72ce0d052c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/fonts/fontawesome.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="fonts/google-fonts.css"> -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/css2.scss">
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <script src="static/jquerymain.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</head>
<style>
    .dots{
        margin-left:48%;
    }
    a{
        text-decoration: none;
    }
    .z-index{
    z-index: 1;
    /* background-color: white; */
    /* position: relati; */
}
</style>
<body>

    
    <!-- header section starts -->
<header id="header">
    <nav>
        <ul>
            <li><a href="#home">home</a></li>
            <li><a href="#special">special</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#dish">dishes</a></li>
            <li><a href="#contact">contact</a></li>
            <li><a href="logoutpage">Logout</a></li>
        </ul>
    </nav>
    
    <div class="fas fa-hamburger">
    
    <a href="#" class="logo"><i class="fa-light fa-bowl-spoon"></i></a>
    </div>
    </header>
    
    <!-- header section ends -->
    
    
    <!-- home section starts  -->
    
    <section id="home" class="container-fluid">
    
    <div class="row min-vh-100 align-items-center">
        
    <div class="col-md-8 ml-md-5 text-md-left text-center content">
        <h1>food that you can't resist</h1>
        <h2>enjoy the marvelous taste</h2>
        <p>Ponawala Estate, 1st Pokhran Road,<br> Opposite J Kg,khopat,<br> Thane (west)
            Mumbai, Maharashtra, 400601
            222534253</p>
        <a href="#special"><button>get started</button></a>
    </div>
    
    <div class="video-container">

        <video src="static/images/vid1.mp4" autoplay='True' loop class="vid vid1"></video>
        <video src="static/images/vid2.mp4" autoplay loop class="vid vid2"></video>
        <video src="static/images/vid3.mp4" autoplay loop class="vid vid3"></video>
    </div>
    
    <div class="controls dots">
        <div class="dots dot1"></div>
        <div class="dots dot2"></div>
        <div class="dots dot3"></div>
    </div>
    
    </div>
    
    </section>
    <!-- special card section starts  -->

<section id="special" class="container-fluid">

    <div class="heading text-center">
    <h1>our <span>special</span></h1>
    <p>Our Most Liked Dishes </p>
    </div>
    
    
    <div class="card-container">
    
        <div class="card">
            <img src="static/images/card1.jpg" alt="">
            <p> <b> Samosa </b><br> samosa singara is a fried or baked pastry with a savory filling, including ingredients such as spiced potatoes, onions, and peas.</p>
            <a href="https://en.wikipedia.org/wiki/Samosa" target="_blank"><button>read more</button></a>
        </div>
    
        <div class="card">
            <img src="static/images/card2.jpg" alt="">
            <p><b> Paratha</b><br> Paratha (pronounced [pəˈɾɑːtʰɑː]) is a flatbread native to the Indian subcontinent, prevalent throughout the modern-day of India</p>
            <a href="https://en.wikipedia.org/wiki/Paratha#:~:text=Paratha%20(pronounced%20%5Bp%C9%99%CB%88%C9%BE%C9%91%CB%90t%CA%B0%C9%91%CB%90%5D),where%20wheat%20is%20the%20traditional" target="_blank"><button>read more</button></a>
        </div>
    
        <div class="card">
            <img src="/static/images/card3.jpg" alt="">
            <p> <b>Dosa and More</b><br> A dosa is a thin batter-based pancake originating from South India, made from a fermented batter predominantly consisting of lentils and rice.</p>
            <a href="https://en.wikipedia.org/wiki/Dosa_(food)#:~:text=A%20dosa%20is%20a%20thin,dash%20of%20salt%2C%20then%20fermented." target="_blank"> <button> read more</button></a>
        </div>
    
    </div>
    
    </section>
    
    <!-- special card section ends  -->
    
    <!-- about section starts  -->

<section id="about" class="container">

    <div class="heading text-center">
    <h1><span>about</span> us</h1>
    </div>

    <div class="row min-vh-100">

        <div class="col-md-6 text-center text-md-left align-self-center content">
            <p>Connie's Cookies Kansas City is a locally and family owned business that was founded in 2006. We're dedicated to creating wonderful sweet surprises that you'll absolutely love. When you visit our shop, you won't believe your eyes with the incredible range of options that are available with us. We specialize in cut-out sugar cookies with more than 180 different shapes! They're the softest melt-in-your-mouth cookies you'll ever experience, with an unforgettable taste.<br><br>

                Our cookies are our passion. Without wonderful customers like you, our bakery would never survive. That's why we're sure to say "thank you" to everyone who gives us their business and support. We're extremely thankful for our loyal customers and their love never falls short. <br><br>
                
                Visit Connie's Cookies Kansas City where you'll always be treated like family. Warm smiles and welcome greetings are our number one guarantee. Carryout and delivery options are available. Our cookies taste as good as they look!</p>
            
            <a href="#"><button>learn more</button></a>
        </div>

        <div class="col-md-6 image">
            <img src="static/images/pic.png" alt="">
        </div>

    </div>

</section>

<!-- about section ends  -->
<!-- dish section starts  -->

<section id="dish" class="container">

    <div class="heading text-center">
        <h1>our <span>dishes</span></h1>
    </div>

    <div class="box-container">

        <div class="box">
            
            <img src="static/images/dish1.jpg" alt="">
            <div class="info">
                <h3>Idli Sambar</h3>
                <p>Idli Sambar is a hearty,comforting and a healthy meal of soft fluffy idlis served with savory, spiced and lightly tangy sambar</p>
                <a href="https://en.wikipedia.org/wiki/Idli" target="_blank"><button>Read more</button></a>
            </div>
        </div>

        <div class="box">
            <img src="static/images/dish2.jpg" alt="">
            <div class="info">
                <h3>Dal dhokli</h3>
                <p>Dal dhokli is a traditional gujarati one pot meal recipe made with toor dal and wheat dough</p>
                <a href="https://en.wikipedia.org/wiki/Dal_dhokli" target="_blank"><button>Read more</button></a>
            </div>
        </div>

        <div class="box">
            <img src="static/images/dish3.jpg" alt="">
            <div class="info">
                <h3>Burger</h3>
                <p>Burger with 2 layers of medley veggies,diced chicken with our in house dressing and mixed in mayonnaise. Served with ketchup.</p>
                <a href="https://en.wikipedia.org/wiki/Hamburger" target="_blank"><button>Read more</button></a>
            </div>
        </div>

        <div class="box">
            <img src="static/images/dish4.jpg" alt="">
            <div class="info">
                <h3>Sandwich</h3>
                <p>Sandwich, in its basic form, slices of meat, cheese, or other food placed between two slices of bread.</p>
                <a href="https://en.wikipedia.org/wiki/Sandwich" target="_blank"><button>Read more</button></a>
            </div>
        </div>

        <div class="box">
            <img src="static/images/dish5.jpg" alt="">
            <div class="info">
                <h3>Dessert</h3>
                <p>Experts agree that a post-meal is the best time to enjoy dessert. When you eat dessert after a balanced meal then you can benefit from the nutrients.</p>
                <a href="https://en.wikipedia.org/wiki/Dessert#:~:text=The%20term%20dessert%20can%20apply,of%20its%20naturally%20occurring%20sweetness." target="_blank"><button>Read more</button></a>
            </div>
        </div>

        <div class="box">
            <img src="static/images/dish6.jpg" alt="">
            <div class="info">
                <h3>Noodles</h3>
                <p>Noodles are a type of food made from unleavened dough which is rolled flat and cut, stretched or extruded, into long strips or strings.</p>
                <a href="https://en.wikipedia.org/wiki/Noodle" target="_blank"><button>Read more</button></a>
            </div>
        </div>

    </div>

</section>

<!-- dish section ends  -->

<!-- contact section starts  -->

<section id="contact" class="container-fluid">

    <div class="heading text-center">
        <h1><span>contact</span> us</h1>
    </div>

    <div class="row justify-content-center">

        <form  method='post' class="col-md-7" action='response'>
            {% csrf_token %}
            <div class="inputBox">
                <input type="text" required name="fullname" >
                <h3>full name</h3>
            </div>

            <div class="inputBox">
                <input type="email" required name="email">
                <h3>e-mail</h3>
            </div>

            <div class="inputBox">
                <textarea required  id="" cols="30" rows="10" name="textarea"></textarea>
                <h3>message</h3>
            </div>

            <input type="submit" value="send">

        </form>

    </div>

</section>

<!-- contact section ends  -->

<!-- footer section starts  -->

<section id="footer" class="container-fluid">

<div class="row align-items-center">

<div class="col-md-4 brand">

<a href="#" class="logo"><img src="static/images/logo.png" alt=""></a>

<div class="icons">
    <a href="#" class="fab fa-facebook-square"></a>
    <a href="#" class="fab fa-twitter-square"></a>
    <a href="#" class="fab fa-instagram-square"></a>
    <a href="#" class="fab fa-pinterest-square"></a>
</div>

</div>

<div class="col-md-4 footer-links">
<h3>links:</h3>
<a href="#home">home</a>
<a href="#special">special</a>
<a href="#about">about</a>
<a href="#dish">dish</a>
<a href="#contact">contact</a>
</div>

<h1>&copy; copyright @ 2020 by <span>okkk</span></h1>

</section>

<!-- footer section ends  -->
<!-- script part starts  -->

<script>

    $(document).ready(function(){
    
        $('.fa-hamburger').click(function(){
            $(this).toggleClass('fa-times');
            $('nav').toggleClass('nav-toggle');
        });
    
        $('nav ul li a').click(function(){
            $('.fa-hamburger').removeClass('fa-times');
            $('nav').removeClass('nav-toggle');
        });
    
        $('.dot1').click(function(){
            $('.vid1').css('display','block');
            $('.vid2').css('display','none');
            $('.vid3').css('display','none');
        });
    
        $('.dot2').click(function(){
            $('.vid2').css('display','block');
            $('.vid1').css('display','none');
            $('.vid3').css('display','none');
        });
    
        $('.dot3').click(function(){
            $('.vid3').css('display','block');
            $('.vid1').css('display','none');
            $('.vid2').css('display','none');
        });
    
        $(window).on('scroll load',function(){
            if($(window).scrollTop() > 10){
                $('#header').addClass('header-active');
            }else{
                $('#header').removeClass('header-active');
            }
        });
    
    });
    
    </script>
    


    
</body>
</html>